eval-jam/node_modules/*
scripts/evaluation/node_modules/*
.bsp
.idea
.metals
.sbtopts
.vscode
.bloop
eval-jam/dist
project/target
target
/src/test/resources/**/*.flowgraph
/src/test/resources/**/_babel/**
